:root {
     --with-color: #ffffff;
     --border-solid: 1px solid;
     --one-hundred: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

#mailbox-content {
     padding: 0.3rem;
     height: 70vh;
     width: 80vw;
     margin: 0 auto;
}
 .mailbox-data-content{
     height: 15rem;
     width: 100%;
     overflow-y: scroll;
     padding: 0.5rem;
     border: var(--border-solid) #000;
     border-radius: 3px;
}
#mailbox-monitoring-interval-content{
    margin-top: 5px;
    width: var(--one-hundred);
}
#mailbox-monitoring-interval {
    border: var(--border-solid) #ccc;
    width: var(--one-hundred);
    padding: .4em;
    border-radius: 3px;
}
#mail-box-buttons {
     width: var(--one-hundred);
     display: flex;
     column-gap: 0.1rem;
     padding: .3em;
     margin-top: 3px;
}
 .mailbox-button {
     width: calc(17rem/3);
     padding: .3em;
     border-radius: 3px;
}
#mailbox-button-start {
     background-color: rgba(31, 120, 243, .9);
}
#mailbox-button-reset {
     background-color: rgba(22, 230, 122,.9);
}
#mailbox-button-stop {
     background-color: rgba(228, 47, 27,.9);
}
#mailbox-button-start:hover {
     background-color: rgb(31, 120, 243);
     color: var(--with-color);
}
#mailbox-button-reset:hover {
     background-color: rgb(22, 230, 122);
     color: var(--with-color);
}
#mailbox-button-stop:hover {
     background-color: rgb(228, 47, 27);
     color: var(--with-color);
}
@media screen and (max-width: 319px) {
     * {
           font-size: smaller;
     }
     #mailbox-content {
          margin: 0;
     }
    #mailbox-data {
        width: 160%;
   }
    .mailbox-data-content {
         width: 80%;
    }
    #mailbox-monitoring-interval-content{
        width:  160%;
    }
    #mailbox-monitoring-interval {
        width: 80%;
    }
    #mail-box-buttons {
         display: flex;
         flex-direction: column;
         row-gap: 1.5px;
         padding: 0;
    }

}

@media screen and (min-width: 481px) and (max-width: 1279px) {
     * { 
          font-size: medium;
     }
     #mailbox-content {
          width: 22rem;
     }
     #mailbox-data, #mailbox-monitoring-interval-content, .mailbox-data-content, #mail-box-buttons  {
          width: 20rem;
     }
}